#reviews_block{
    width: 100%;
    height: auto;
    background-color:	#F2F2F2;
    background-image: url('../Images/reviews/Reviews_bg.png');
    padding: 10px 0px 20px 0px;
}
.reviews_Heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.reviews_Heading>h1{
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    margin: 10px auto;
}
.reviews_Heading >p {
    color: slategrey;
    text-align: center;
}
.reviews_Heading>h1 span{
color: 	#678E19;
}
.reviews_Content>table{
    width: 80%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    padding-bottom: 20px;
}
.reviews_Content>table>tr{
    width: 80%;
    max-width: 100%;
    border: 2px solid black;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.reviews_Content>table>tr>td {
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.reviews_Content>table>tr td img{
    width:130px;
    height: 130px;
}
.reviews_Content table tr td:nth-child(even)  {
    width: 30%;
    font-size: 12px;
    margin: 30px;
}
.reviews_Content table tr td::first-line{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;

    
}
.reviews_Content table tr td:nth-child(odd) {
    width: 5%;
    font-size: 12px;
    margin: 0px;
}
